 *{
	margin: 0; padding: 0;
}
body {
	text-align: center;
	font: 12px Verdana;
	color: #112222;
	background: url(images/) repeat-x 0 0;

}
a {
	color: aqua;
	font-size: 25pxs;
}
a:hover {
	text-decoration: none;
	color: crimson;
}
img {
	border: 0;
}

.break {
	font-size: 25px;
	width: 10px; height: 10px;
	clear: both;
	color: aqua;
}
.alignleft {
	float: left;
	margin: 4px 10px 5px 0;
}
.alignright {
	float: right;
	margin: 4px 0 5px 10px;
}
.aligncenter {
	text-align: center;
}
.hidden {
	display: none;
}
#s{
	height: 20px;
	width: 25px;
	border: 20px solid red;
	color: #234566;

}

/** BEGIN wrapper **/
#wrapper {
	width: 900px;
	margin: auto auto;
	text-align: left;
	padding: 25px 1;
}
/** END wrapper **/

/** BEGIN header **/
#header {
	
background-color: #234566;

	
}
#login a{
	font-size: 15px;
	color: #565656;

}
#login a:hover{
	font-size: 15px;
	font-weight: 500;
	color: black;

}

	#header .pages {
		list-style-type: none;
		float: left;
		height: 35px;
	}
		#header .pages li {
			float: left;
			font-size: 0.9em;
			font-weight: bold;
			text-transform: uppercase;
		}
		#header .pages li a {
			text-decoration: none;
			display: block;
			padding: 10px 10px 11px;
		}
	#header form {
		float: right;
		width: 238px; height: 35px;
		left: 15px
		
	}
	#header .login{
		float: right;
		bottom: 10px;
	}
	@-webkit-keyframes my {
		0% { color: #F8CD0A; } 
		50% { color: #fff;  } 
		100% { color: #F8CD0A;  } 
	}
	@-moz-keyframes my { 
		0% { color: #F8CD0A;  } 
		50% { color: #fff;  }
		100% { color: #F8CD0A;  } 
	}
	@-o-keyframes my { 
		0% { color: #F8CD0A; } 
		50% { color: #fff; } 
		100% { color: #F8CD0A;  } 
	}
	@keyframes my { 
		0% { color: #F8CD0A;  } 
		50% { color: #fff;  }
		100% { color: #F8CD0A;  } 
	} 
	.sc {
		-webkit-animation: my 700ms infinite;
		-moz-animation: my 700ms infinite; 
		-o-animation: my 700ms infinite; 
		animation: my 700ms infinite;
   }
		#header form p {
			float: left;
			text-transform: uppercase;
			font-size: 15px;
			padding-top: 15px;
			
		}
		#header form input {
			
			border: 0;
			font-family: Verdana;
			font-size: 0.9em;
			margin: 12px 1px 0 12px;
			width: 150px;
			border: 2px solid black;
			height: 17px;
			border-radius: 5px;
			
		}
		#header form button {
			float: left;
			border: 0;
			text-indent: -9999px;
			width: 21px; height: 21px;
			margin-top: 8px;
			background-color: transparent;
		}
	#header h1 {
		clear: both;
		float: left;
		font-size: 25px;
		padding: 25px 0 30px;
		color:cadetblue	;
	}
		#header h1 a {
			display: block;
			width: 373px; height: 120px;
			text-indent: -9999px;
			outline: none;
			background: url(images/tin.png) no-repeat 0 0;
		}
	#header .ad {
		float: right;
		padding: 11px 10px 0 0;

	}
	 .categories {
		clear: both;
		list-style-type: none;
		height: 35px;
		border: 1px solid #CCCCCC;
		overflow: hidden;
	}
		#header .categories li {
			float: left;
			text-transform: uppercase;
			font-size: 0.9em;
			padding-right: 2px;
			background: url(images/divider.gif) no-repeat right 1px;
		}
		.category a:hover{
			color: #ff0000;
		}
		#header .categories li a {
			color: #112222;
			text-decoration: none;
			display: block;
			padding: 11px 15px;
		}
        #content p{
            display: flex;
            margin-top: 10px;
        }
        .main img{
            width: 450px;
            height: 200px;
        }
    



